.ant-menu{
  background-color: transparent;
  border: none;
  .ant-menu-item{
    background-color: transparent !important;
    text-align: center;
    color: #848485;
    &:hover{
      color: #cfcfcf;
    }
    &-selected{
      color: #fff;
    }
    .anticon{
      font-size: 26px;
    }
  }
  
}