.ant-menu{
  background-color: transparent;
  border: none;
  .ant-menu-item{
    background-color: transparent !important;
    text-align: center;
    margin: 20px 0;
    &-active,&-selected{
      .anticon{
        color: #ECDDC6 !important;
      }
    }
    .anticon{
      font-size: 26px;
      color: #FEFAEC;
    }
  }
  
}