.main-menu{
  position: relative;
  height: 100%;
  .ant-avatar{
    margin: 10px 0;
    cursor: pointer;
  }
  .ant-menu{
    background-color: transparent;
    border: none;
    .ant-menu-item{
      background-color: transparent !important;
      text-align: center;
      line-height: 50px;
      margin-bottom: 0;
      .ant-badge-count{
        padding: 0;
      }
      &-active,&-selected{
        .anticon{
          color: #ECDDC6 !important;
        }
      }
      .anticon{
        font-size: 26px;
        color: #FEFAEC;
        margin: 0;
        vertical-align: middle;
      }
    }
  } 
  .anticon{
    font-size: 26px;  
    cursor: pointer; 
    &-github{
      position: absolute;
      bottom: 70px;
      left: 50%;
      margin-left: -13px;
    }
    &-poweroff{
      position: absolute;
      color: #FEFAEC;
      bottom: 20px;
      left: 50%;
      margin-left: -13px;
    }
  }
}