.main{
  height: 100%;
  &.ant-layout-has-sider{
    .ant-layout-sider{
      flex: 0 0 65px !important;
      max-width: 65px !important;
      min-width: 65px !important;
      width: 65px !important;
      background-color: #625772;
    }
    .ant-layout{
      .ant-layout-header{
        height: 45px;
        padding: 0;
        background-color: #fdfdfd;
        text-align: center;
        line-height: 45px;
      }
    }
  }
}